/* p {
  margin: 10px;
  padding: 6px;
  border: 4px solid black;
  width: 350px;
  height: 100px;
  background-color: orange;
}

html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

div {
  box-sizing: border-box;
}

div {
  width: 350px;
  inline-size: 350px;
  height: 150px;
  block-size: 150px;
  margin: 10px;
  padding: 25px;
  border: 5px solid black;
} */

.my-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 50px;
}

.has-blue-background {
  background-color: #a7dddd;
  border: 1px solid #721ee3;
}

.has-yellow-background {
  background-color: #faf7a7;
  border: 1px solid #e38c1e;
}
